*{
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(77deg, rgba(33,22,234,0.7), rgba(30,200,174,0.8));
  height: 100vh;
}

.wrapper{

}

.grid{
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;

}

.grid img{
  width: 20%;
  height: 12rem;;
  margin:5px;
  border: 2px solid #fefefe;
  transition: all.6s;
}

.grid img:hover{
  transition: all.6s;
  transform: scale(1.2);
  z-index: 1;
}
