@import './layout/grid';
@import './base/base';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body{
  min-height: 100vh;
  background: $primary;
  font-size: 2rem;
}

