<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>footer3</title>
  <link rel="stylesheet" href="style3.css">
</head>
<body>
    <h1>Footer 3 with , calc() reduced height wrappers </h1>
<!--  -->
    <div class="content">
      content
    </div>
    <button class="btn">Click me</button>

    <footer class="footer"></footer>

  <script src="app3.js"></script>
</body>
</html>