<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sticky footer2</title>
  <link rel="stylesheet" href="style2.css">
</head>
<body>
  <h1>Sticky footer part 2</h1>
    <div class="content">
        <div class="content-inside">
          content
        </div>
        <button class="content-btn">Add Content</button>
      </div>

      <footer class="footer"></footer>

<footer class="footer"></footer>
<script src="app2.js"></script>
</body>
</html>