<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sticky footer</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main class="wrapper">

      <h1>Hello There Sticky footer</h1>
      <div class="content"></div>
      <button class="content-btn">
          Add Content
      </button>


  <div class="push"></div>
</main>
<footer class="footer"></footer>
<script src="app.js"></script>
</body>
</html>